asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.5
django-environ==0.12.0
djangorestframework==3.16.1
flatbuffers==25.12.19
idna==3.14
networkx==3.6.1
numpy==2.4.6
onnxruntime==1.26.0
packaging==26.2
protobuf==7.35.0
pyalex==0.21
PyMuPDF==1.27.2.3
pymupdf-layout==1.27.2.3
pymupdf4llm==0.0.17
PyYAML==6.0.3
requests==2.34.0
sqlparse==0.5.5
tabulate==0.10.0
tzdata==2026.2
urllib3==2.7.0
